# dependencies
**/node_modules/

# client
/.next/
/out/

# server
**/dist/

# debug
npm-debug.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# Logs
**/logs/

# Cache
**/cache/
**/emails.json
**/historyid.txt